<div class="container">
    <div class="row">
        <div class="xs-12">
            <div class="panel panel-default">
                <div class="panel-heading groupHeading">
                  <h3 class="panel-title">{{vm.groupName}}</h3>
                    <a class='btn btn-default pull-left backBtn' ng-click='vm.leaveGroup()'>
                      <i class='glyphicon glyphicon-chevron-left' />
                    </a>
                </div>
                <div class="usersMapInfo">
                  <ul class="list-unstyled onlineList">
                    <li ng-class="{onlineUser: true, onlineActiveUser: vm.userViewCenter}" ng-repeat="track in vm.tracks">
                      <p ng-click="vm.changeMapCenter(track.coords)">{{track.username}}</p>
                    </li>
                  </ul>
                </div>
                <div class="panel-body map">
                  <ng-map zoom-to-include-markers="true" default-style="false" disable-default-u-i="true" zoom="20" center="[{{vm.track.coords.latitude}}, {{vm.track.coords.longitude}}]">
                    <div ng-repeat="track in vm.tracks">
                      <marker id="{{vm.userId}}" position="[{{track.coords.latitude}}, {{track.coords.longitude}}]" title="marker"
                        icon="{
                          path: 'CIRCLE',
                          fillColor: 'gold',
                          fillOpacity: 1,
                          scale: 15,
                          strokeColor: 'black',
                          strokeWeight: 3
                        }" animation="Animation.BOUNCE">
                      </marker>
                    </div>
                  </ng-map>
                  <div class="errorMessage alert alert-danger ng-hide-remove" ng-show="vm.alertMessage">
                    {{vm.alertMessage}}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
s
