a
  &[href^="http://maps.google.com/maps"], &[href^="https://maps.google.com/maps"]
    display: none !important

.gmnoprint
  a, span
    display: none

.gm-style-cc
  display: none

.gmnoprint div
  background: none !important

div.panel-body.map
  padding: 0px

ng-map
  height: 100vh

div.alert.alert-msg
  position: absolute
  z-index: 9999
  top: 90%
  width: 90%
  text-align: center
  left: 5%

ul.onlineList
    position: absolute
    z-index: 999
    left: 5%
    top: 8%
    li.onlineUser
      background: orange
      color: black
      padding: 0px 0px
      height: 25px
      padding: 0px 16px
      font-size: 1.2em
      margin-bottom: 5px
      border: 1px solid black
      opacity: 0.65
    li.onlineActiveUser
      opacity: 1
