a
  &[href^="http://maps.google.com/maps"], &[href^="https://maps.google.com/maps"]
    display: none !important

.gmnoprint
  a, span
    display: none

.gm-style-cc
  display: none

.gmnoprint div
  background: none !important

div.panel-body.map
  padding: 0px

ng-map
  height: 100vh

div.alert.alert-msg
  position: absolute
  z-index: 9999
  top: 90%
  width: 90%
  text-align: center
  left: 5%

ul.onlineList
    position: absolute
    z-index: 999
    right: 5%
    top: 8%
    li:nth-child(1)
      margin-top: 5px
    li.onlineUser
      background: #839496
      color: black
      height: 28px
      padding: 0px 25px
      font-size: 1.2em
      margin-bottom: 5px
      border: 1.5px solid #073642
      text-align: center
      border-radius: 4px
      &.selfTrack
        background: orange !important
    li.onlineActiveUser
      opacity: 1
li.onlineUserBtn
  background-color: #586e75 !important
div.markerDiv h4
  background-color: orange
  padding: 25%
  border: 2px solid black
  border-radius: 50%
  width: 2.5em
  text-align: center
  color: black
  &.selfTrack
    background-color: red !important
button.showUserListBtn
  width: 8em
  margin-top: -7px
button.toggleTrackBtn
  position: absolute
  z-index: 999
  top: 90%
  right: 5%
  width: 70%
  height: 7%
button.settingBtn
  position: absolute
  z-index: 999
  top: 90%
  left: 5%
  height: 7%
  width: 17%
div.settingInputs
  form > button
    width: 25%
  position: absolute
  z-index: 999
  top: 65%
  left: 5%
  height: 7%
  width: 90%
  & span
    width: 58%
  & input
    height: 27px
    display: inline
    width: 65%
div.refreshInterval
  margin-bottom: 5px
div.settingInputsForm
  margin-bottom: 5px !important
