<div class="container">
    <div class="row">
        <div class="xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Restore Password</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="Email" name="text" type="email">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="New Password" name="password" type="password" value="">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Repeat New Password" name="password" type="password" value="">
                            </div>
                            <input class="btn btn-lg btn-warning btn-block" type="submit" value="Restore Password">
                        </fieldset>
                    </form>
                    <div class="errorMessage alert alert-danger">
                      Here goes a message
                    </div>
                </div>
            </div>
            <div class="login text-center">
              <a href="/#!/login">Login</a>
            </div>
        </div>
    </div>
</div>
